<section class="container">
    <h3>Create Personne</h3>
    <div [hidden]="submitted" style="width: 400px;">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">nom</label>
                <input type="text" class="form-control" id="nom" required [(ngModel)]="personne.nom" name="nom">
            </div>
            <div class="form-group">
                <label for="name">prenom</label>
                <input type="text" class="form-control" id="prenom" required [(ngModel)]="personne.prenom" name="prenom">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newPersonne()">Add</button>
    </div>
</section>