<section class="container">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Personne List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personne of personnes | async">
                    <td>{{personne.num}}</td>
                    <td>{{personne.nom}}</td>
                    <td>{{personne.prenom}}</td>
                    <td><button (click)="deletePersonne(personne.num)" class="btn btn-danger">Delete</button>
                        <button (click)="updatePersonne(personne.num)" class="btn btn-danger">Update</button>
                        <!--<a routerLink="update" class="btn btn-primary ml-2" routerLinkActive="active">Update</a>-->
                        <a routerLink="details" class="btn btn-primary ml-2" routerLinkActive="active">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>