<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="personnes" class="nav-link" routerLinkActive="active">Liste des personnes</a>
    </li>
    <li class="nav-item">
      <a routerLink="personnes/add" class="nav-link" routerLinkActive="active">Ajouter une personne</a>
    </li>
    <li class="nav-item">
      <a routerLink="personnes/update" class="nav-link" routerLinkActive="active">modifier une personne</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <span>Footer</span>
  </div>
</footer>