<div class="container">
    <h3>Update Personne</h3>
    <div [hidden]="submitted" style="width: 400px;">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">id</label>
                <input type="text" class="form-control" id="num" required [(ngModel)]="personne.num" name="num">
            </div>
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="nom" required [(ngModel)]="personne.nom" name="nom">
            </div>
            <div class="form-group">
                <label for="name">Prenom</label>
                <input type="text" class="form-control" id="prenom" required [(ngModel)]="personne.prenom" name="prenom">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>